@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  /* margin: 0;
  padding: 0; */
  padding-right: 5px;
 padding-left: 5px;
 padding-top: 5px;
}
:root {
  --primary: white;
}
body {
  font-family: 'Poppins', sans-serif;
 
}
.btnNav {
  padding: 8px 20px;
  border-radius: 4px;
  outline: none;
  border: none;
  font-size: 18px;
  color: pink;
  cursor: pointer;
  background-color: var(--primary);
}

.btnNav:hover {
  padding: 6px 18px;
  transition: all 0.3s ease-out;
  background-color:white;
  color: hotpink;
  border-radius: 4px;
  border: 2px solid var(--primary);
  transition: all 0.3s ease-out;
}

.inspo{

  color:black;
  font-family: 'Poppins', sans-serif;
}

.container {
  max-width: 500px;
  margin: 30px auto;
  overflow: auto;
  min-height: 300px;
  border: 1px solid hotpink;
  padding: 30px;
  border-radius: 5px;
  
}
 .header {
  /* display: flex; */
  /* justify-content: space-between; */
   float: center;
  
} 
 nav a {
  padding: 8px;
  text-decoration: none;
  color:pink;
  font-family: 'Poppins', sans-serif;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 70vw;
  justify-content: end;
  margin-right: 2rem;
}


.active {
  margin: 8px;

  color: "pink"
  }
  .Router{
  color: pink;
  font-family: 'Poppins', sans-serif;
}

.Route {
   color: pink;
  font-family: 'Poppins', sans-serif;
}
  
.btn{
  display: inline-block;
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 20px;
  font-family: inherit;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}

.btn-block {
  display: block;
  width: 100%;
  color:pink;
 
}

.task {
  background: rgb(252, 241, 242);
  margin: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.task.owns {
  border-left: 5px solid pink;
}

.task h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h1 {
   text-align: center;
}
.add-form {
  margin-bottom: 40px;
}

.form-control {
  margin: 20px 0;
}

.form-control label {
  display: block;
}

.form-control input {
  width: 100%;
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
}

.form-control-check {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-control-check label {
  flex: 1;
}

.form-control-check input {
  flex: 2;
  height: 20px;
}



.profile, .rewards, .account, .wishes, .form-control{
  display: flex;
  align-items: center;
  height: 20vh;
  justify-content: center;
  font-size: 2rem;
}


footer {
  margin-top: 30px;
  text-align: center;
}